<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="title"> Galaxie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-grid>
      <ion-button routerLink="/tab/new" class="btn"> Créer une galaxie &nbsp; <i
          class="fas fa-long-arrow-alt-right"></i> </ion-button>
      <div style="text-align : center">
        <h1> Galaxies recensées </h1>
      </div>
      <ion-item-group size="12" *ngFor="let galaxie of galaxies">
        <ion-card class="active" *ngIf="(galaxie.active === true)||(galaxie.active === 'true')"
          [routerLink]="['/tab/unegalaxie/',galaxie.id]">
          <ion-item lines="none">
            <img [src]="galaxie.picture" [alt]="galaxie.title" class="image">
          </ion-item>
          <ion-col lines="none" text-center>
            <div class="nom_galaxy">
              <span> {{ galaxie.nom }} </span>
            </div>
          </ion-col>
        </ion-card>
        <ion-card class="nonactive" *ngIf="(galaxie.active === false)||(galaxie.active === 'false')"
          [routerLink]="['/tab/unegalaxie/',galaxie.id]">
          <ion-item lines="none">
            <img [src]="galaxie.picture" [alt]="galaxie.title" class="image">
          </ion-item>
          <ion-col lines="none" text-center>
            <div class="nom_galaxy">
              <span> {{ galaxie.nom }} </span>
            </div>
          </ion-col>
        </ion-card>
      </ion-item-group>
    </ion-grid>
  </div>
</ion-content>
