<ion-header>
  <ion-toolbar>
  <ion-title class="toolbar"> About </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="background-color: rgba(211, 211, 211, 0.20); min-height: 100%;">

  <ion-grid>
    <ion-row style="display: flex; align-items:center;">
      <ion-col size="4" >
        <img src="/assets/images/Whirpool_Galaxy.jpg" class="image">
      </ion-col>
      <ion-col size="8">
        <h1 style="font-weight: bolder; text-align: center;"> Qu'est ce qu'une galaxie ? </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p> Une <strong> galaxie </strong> est un assemblage d'étoiles, de gaz, de poussières, de vide et peut-être essentiellement de matière noire, contenant parfois un trou noir supermassif en son centre.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <img src="/assets/images/galaxie2.jpg" class="image">
    </ion-row>
    <ion-row>
      <ion-col>
        <p> 
          La <strong> Voie lactée</strong>, la galaxie dans laquelle se trouve le Système solaire, compte quelques centaines de milliards d'étoiles et a une extension de l'ordre de 80 000 années-lumière. 
          Un rapport de la mission spatiale européenne Gaia a rendu publique, le 25 avril 2018, la position de <strong>1 692 919 135 étoiles </strong>de notre galaxie,
          ce qui représente moins d'1 % de la totalité des étoiles présentes dans notre galaxie. La plupart des galaxies typiques comportent un nombre similaire d'astres,
          mais il existe aussi des galaxies naines comptant à peu près une dizaine de milliards d'étoiles et des galaxies géantes comptant plusieurs milliers de milliards d'étoiles.
          Sur la base de ces chiffres et de la taille de l'univers observable,
          on estime que celui-ci compte quelques centaines de milliards de galaxies de masse significative. 
          La population de galaxies naines est cependant très difficile à déterminer, du fait de leur masse et de leur luminosité très faibles. 
          Il pourrait donc contenir jusqu'à<strong> 2 000 milliards de galaxies</strong>, mais cela ne pourra être confirmé qu'avec les observations des futurs télescopes (tel le Télescope géant européen ou le Télescope de Trente Mètres)
        </p>    
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
