<ion-header>
  <ion-toolbar class="toolbar">
  <ion-title class="title"> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="card_menu">
      <ion-card style="text-align: center;">
      <h1> Bienvenue sur Universe </h1>
      <p>
        Vous trouverez ici de quoi apprendre un peu plus de chose sur les galaxies qui constituent notre univers.
      </p>
      <p>
        <strong>  Amusez-vous bien ! </strong>
      </p>
    </ion-card>
  </div>
</ion-content>
