<ion-header>
  <ion-toolbar>
  <ion-title class="toolbar"> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: rgba(211, 211, 211, 0.20);padding-top: 5%; min-height: 100%;">
    <ion-row style="height:100%; margin-top: 50%;">
      <ion-card style="text-align: center;">
      <h1 style="font-weight: bold;"> Bienvenue sur Universe </h1>
      <p>
        Vous trouverez ici de quoi apprendre un peu plus de chose sur les galaxies qui constituent notre univers.
      </p>
      <p>
        <strong>  Amusez-vous bien ! </strong>
      </p>
    </ion-card>
    </ion-row>
  </div>
</ion-content>
